body,html {
	background-color: #151517;
  min-height: 100%;
}
a {
  color: #a360e7;
  text-decoration: none;
}
p,q {
	line-height: 1.4;
  word-wrap: break-word;
}
ul#horiz {
  padding: 0;
}
ul#horiz li {
  display: inline;
}

.purple {
  color: #a360e7;
}
.blue {
  color: #557edb;
}
.green {
  color: #3ba764;
}
.mongodb {
  color: #00ed64;
}
.red {
  color: #f34375;
}

.term {
  margin-left:auto;
  margin-right:auto;
	font-family: courier, monospace;
	color: #fcfdfe;
	line-height: 1.5;
	padding: 1em;
  font-size: 13px;
}

@media only screen and (min-width: 360px) {
  .term {
    font-size: 14px;
  }
}
@media only screen and (min-width: 480px) {
  .term {
    padding: 2em;
    width: 30em;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .term {
    width: 40em;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .term {
    width: 50em;
  }
}
