body,html {
	background-color: #151517;
  min-height: 100%;
}
a { color: #a360e7;
	text-decoration: none;
}
p {
	line-height: 1.4;
  word-wrap: break-word;
}
ul#horiz li { display: inline; }

.prompt { font-weight: bold; }
#a { color: #3ba764; }
#b { color: #f34375; }
#c { color: #557edb; }

#term {
	font-family: courier, monospace;
	color: #fcfdfe;
	padding-top: 2em;
	line-height: 1.5;

  font-size: 13px;

}
@media only screen and (min-width: 350px) {
  #term {
    margin-left:auto;
    margin-right:auto;
    width: 25em;
    font-size: 14px;

  }
}
@media only screen and (min-width: 444px) {
  #term {

    width: 30em;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #term {
    width: 40em;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  #term {
    width: 50em;
  }
}
