body {
	background-color: #151517
}

#term {
	font-family: courier, monospace;
	color: #fcfdfe;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:16px;
	line-height: 1.65;
}

a {
	color: #a360e7;
	text-decoration: none;
}

p {
	line-height: 1.4;
}

.prompt {
	font-weight: bold;
}

#a {
	color: #3ba764;
	}

#b {
	color: #f34375;
}

#c {
	color: #557edb;
}

ul#horiz li {
	display: inline;
}
